<div class="mt-4">
  <h3>Angular</h3>
  <h5>Angular is a Framework created by Google to create SPA with Nodejs</h5>
  <p>Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your apps.</p>
  <ul>
    <li>Angular is a platform and framework for building single-page client applications using HTML and TypeScript.</li>
    <li>Angular is written in TypeScript.</li>
    <li>It implements core and optional functionality as a set of TypeScript libraries that you import into your apps.</li>
  </ul>
</div>
